*{

    outline: none;
}
body {
    font-family: Arial, FreightSans-Book, serif;
    color: rgb(66, 66, 66);
    cursor: auto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;

    padding: 1rem 2rem;

}

a {
    color: rgb(0, 91, 103);
    font-family: Arial, FreightSans-Book, serif;
    cursor: pointer;
    text-decoration-line: underline;
}

a:hover {
    text-decoration: none;
}

.NrqOc {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    display: inline-block;
    vertical-align: middle;
}


.ehlJHP {
    /* height: 2.5rem; */
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
    padding-top: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: rgb(202, 231, 234);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
}

.cfFKBp h2 {
    color: rgb(0, 91, 103);
    font-size: 1rem;
    font-weight: 400;
    /* line-height: 2.5rem; */
}

.bUeBss {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
}

.cLfwmF {
    margin-top: 0;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* @media */
.iYHssc {
    width: calc(33.3%);
}

/* @media */
/* .iYHssc {
width: calc(50%);
padding-left: 0.75rem;
} */
.iYHssc {
    width: 100%;
    margin-bottom: 1rem;
    padding-left: 0;
    list-style: none;
}

.fJiXFl {
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin-top: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 0.1875rem;
    border-width: 0.0625rem;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: #6f6f6f;
    cursor: pointer;
}

.fJiXFl:hover a{
    text-decoration: underline;
}

.fJiXFl:hover,
.fJiXFl:focus-within{
    border-color: rgb(66, 66, 66);
    outline: 0.1875rem rgb(0, 91, 103) solid;

}

.lnliLR {
    height: 8.4375rem;
    width: 100%;
    position: relative;
}


.euIiEn {
    height: auto;
    width: 5.625rem;
    float: right;
    max-height: 8.4375rem;
    text-align: right;
}

.gcMFAA {
    position: relative;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    height: inherit;
}


.bKTUoZ {
    display: inline-grid;
    padding-top: 0;
    padding-left: 1rem;
}

.jyxcyd {
    margin-bottom: 0.5rem;
    color: rgb(0, 91, 103);
    font-family: FreightSans-Book, serif;
    font-size: 1rem;
    display: block;
    font-weight: bold;
    line-height: 1.625rem;
}

.iwaYvV {
    /* cursor: pointer; */
    text-decoration-line: none;
}

.iwaYvV:focus {
    text-decoration: underline;
}

.jZVkWA {
    margin-bottom: 1rem;
    color: rgb(104, 104, 103);
    font-size: 1rem;
    display: block;
    font-style: italic;
    padding-top: 0;
    margin-right: 0.5rem;
    word-break: break-word;
}

.ekVYuR {
    display: inline-grid;
    padding-top: 0;
}

.ekVYuR a:hover{
    text-decoration: none;
}



.gtjgvd {
    font-size: 1rem;
    display: block;
    margin-top: 0;
    padding-left: 1.5rem;
}

.fTFHYi {
    left: 0;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: grey;
}



.kBQXJu {
    display: block;
    margin-top: 0;
    padding-left: 1.5rem;
    font-size: 1rem;
}


.ekVYuR li {
    position: relative;
}

.gtjgvd {
    font-size: 1rem;
    display: block;
    margin: 0;
    padding-left: 1.5rem;
}

.ekVYuR {
    display: inline-grid;
    padding: 0;
}

* {
    scroll-margin-top: 10rem;
    box-sizing: border-box;
}

ul.ekVYuR {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 1rem;
    unicode-bidi: isolate;
}

.lnliLR {
    height: 8.4375rem;
    width: 100%;
    position: relative;
}

.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}



a:focus{
    outline: rgb(0, 91, 103) 0.1875rem solid;
    outline-offset: 0.1875rem;
}